Django==5.1.6
Pillow==10.4.0
python-dotenv==1.0.1  # для работы с переменными окружения (безопасное хранение паролей)
django-crispy-forms==2.1  # для красивых форм
crispy-bootstrap5==2024.2  # bootstrap5 темы для crispy-forms
django-cleanup==8.1.0  # автоматическая очистка файлов
gunicorn==21.2.0  # для продакшн деплоя 