Django==5.1.6
Pillow==10.4.0
python-dotenv==1.0.1  # для роботи зі змінними оточення (безпечне зберігання паролів)
django-cleanup==8.1.0  # автоматичне очищення файлів
gunicorn==21.2.0  # для продакшн деплоя