{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Асортимент - Кондитерська{% endblock %}

{% block content %}
<section class ="assort">
<div class="container py-5">

    <div class="search">
        <form method="get" action="{% url 'shop:assortment_list' %}" class="custom-search-form">
            <input type="text" name="q" class="search-input" placeholder="Пошук десерту..." value="{{ request.GET.q }}">
            <input type="number" name="min_price" class="search-input" placeholder="Мін. ціна" value="{{ request.GET.min_price }}">
            <input type="number" name="max_price" class="search-input" placeholder="Макс. ціна" value="{{ request.GET.max_price }}">
        
            <div class="search-btnn">
                <button type="submit" class="search-btn">Пошук</button>
            </div>
        </form>
        </div>

       
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        {% for item in items %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="product-image-container">
                    {% if item.image %}
                        <img src="{{ item.image.url }}" alt="{{ item.name }}">
                    {% else %}
                        <img src="{% static 'img/no-image.jpg' %}" alt="Зображення відсутнє">
                    {% endif %}
                </div>
                
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">
                        <strong>Ціна:</strong> {{ item.price }} грн
                    </p>
                      <a href="{% url 'shop:order_create' %}?product_id={{ item.id }}" class="order-btn">Замовити</a>

                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info text-center">
                На жаль, зараз асортимент порожній. Спробуйте завітати пізніше.
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    </section>
{% endblock %}